<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <title>Home</title>
</head>
<body>

    <h2>Kens shop</h2>
    <a href="/cart">Go To Cart</a>
    <br><br>
    <p>shop for selling eco-friendly items. Good for you. Amazing for mother nature.</p>
    <br><br>

<div class="container">
           <div class="row">
               <div class="col-4">
                       <img src="/static/strawspic.jpg" width="50%">
                        <a href="/product"><p>4 reusable straws<br>20$</p></a>
                   </div>


               <div class="col-4">
                <img src="/static/bag.jpg" width="30%">
                    <p>recycled tote bag<br>60$</p>
                   </div>


                <div class="col-4">
                    <img src="/static/tooth.jpg" width="45%">
                    <p>recycled toothbrush<br>35$</p>
               </div>

           </div>
       </div>


    </body>
</html>